.app-page {
  width: 90%;
  margin: auto;
  margin-bottom: 40px;
}

.patient-info {
  font-size: 1.2rem;
  padding: 10px;
}

.health-dashboard {
  text-align: center;
}

.health-dashboard > * {
  margin: 15px auto;
}

.chart-title {
  font-size: large;
  margin: 5px;
  display: block;
}

svg > g[class^="raphael-group-"] > text{
  display: none !important;
}